<h1 class="header">Ogłoszenia</h1>
<mat-list style="padding: 20px;">
  <mat-list-item *ngFor="let news of newsList; let index=index">
    <mat-icon matListIcon color="accent">{{index<2?"error":'check'}}</mat-icon>
    <h4 matLine>
      Nazwa: {{news.name}}
    </h4>
    <h4 matLine>
      Treść: {{news.text}}
    </h4>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">
      Akcje
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>

</mat-list>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Przypisz do grup</button>
  <button mat-menu-item>Edytuj</button>
  <button mat-menu-item>Usuń</button>
</mat-menu>
<div class="center">
  <button mat-flat-button color="accent">
    <mat-icon>navigate_before</mat-icon>
  </button>
  &nbsp;
  <button mat-flat-button color="accent">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

<button mat-fab class="fab" color="accent" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
