<h1 class="header">Dodaj debiut</h1>
<div style="padding: 10px;">
  <mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>Wybierz plik</mat-label>
    <ngx-mat-file-input (change)="handleFileInput($event.target.files)"></ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>
  <mat-error *ngIf="fileError">Nie udało się przetworzyć pliku, przepraszamy.</mat-error>
</div>
<div *ngIf="fileLoaded" class="flex-row" style="padding: 20px;">
  <div>
    <div>
      <div id="debut-board" ></div>
      <div class="center">
        <button mat-flat-button color="accent" (click)="prevMove()">
          <mat-icon>navigate_before</mat-icon>
        </button>
        &nbsp;
        <button mat-flat-button color="accent" (click)="flipBoard()">
          Odwróć kolor
        </button>
        &nbsp;
        <button mat-flat-button color="accent" (click)="nextMove()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </div>

    <form [formGroup]="checkoutForm" class="flex-column">
      <mat-form-field>
        <input matInput required placeholder="Nazwa" formControlName="name">
        <mat-error>Podaj nazwę debiutu</mat-error>
      </mat-form-field>
      <button mat-flat-button color='accent' (click)="saveDebut()">
        <span>Zapisz debiut</span>
      </button>
    </form>

  </div>

  <div class="moves-section">
    <mat-card>
      <div class="center">
        {{playersString}}
      </div>
      <span *ngFor="let move of gameState.moveArray; let first = first;" (click)="goToMove($event, move)" style="cursor: pointer;">
        <ng-container *ngTemplateOutlet="moveTemplate; context:{move: move, first: first}"></ng-container>
      </span>
      <ng-template #moveTemplate let-move="move" let-first="first" let-uniqeCode="uniqeCode">
        <span *ngIf="move.color === 'white'">{{move.move_number+' '}}</span>
        <span *ngIf="move.color === 'black' && first">{{move.move_number+'... '}}</span>
        <span [ngClass]="{'highlight-move': highlight === move.id}">{{move.move+' '}}</span>
        <span *ngFor="let branch of move.branch;">
          <span *ngFor="let branchMove of branch; let last = last;" (click)="goToMove($event, branchMove)" style="cursor: pointer;">
            <span *ngIf="branchMove.isBranchStart">(</span>
            <ng-container *ngTemplateOutlet="moveTemplate; context:{move: branchMove, first: branchMove.isBranchStart}"></ng-container>
            <span *ngIf="last">)&nbsp;</span>
          </span>
        </span>
      </ng-template>
      {{gameResult}}
    </mat-card>
    <div class="center">
      <button mat-flat-button color="accent" (click)="goToPrevGame()">
        <mat-icon>navigate_before</mat-icon>
      </button>
        &nbsp;
      <button mat-flat-button color="accent" (click)="goToNextGame()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>

  </div>

</div>
