<mat-toolbar color="primary" *ngIf='token'>
  <a mat-button routerLink="/">SzachApp</a>
  <a mat-button routerLink="/news">Ogłoszenia</a>
  <a mat-button routerLink="/debut">Debiuty</a>
  <a mat-button routerLink="/puzzles">Zadania</a>
  <span class="example-spacer"></span>
  {{ groupName ? groupName : 'TRYB TRENERA'}}
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="logout()" color="accent">
    <!--<mat-icon>account_circle</mat-icon>-->
    Wyloguj
  </button>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf='!token'>
  <a mat-button routerLink="/">SzachApp</a>
</mat-toolbar>
