<h1 class="header">Twoje grupy</h1>
<mat-nav-list style="padding: 20px;">
  <mat-list-item *ngFor="let group of groups;">
    <h4 matLine>
      Nazwa: {{group.name}}
    </h4>
    <h4 matLine>
      Kod grupy: {{group.code}}
    </h4>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">
      Akcje
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>

</mat-nav-list>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Przypisz debiuty</button>
  <button mat-menu-item>Przypisz zadania</button>
  <button mat-menu-item>Uczestnicy</button>
  <button mat-menu-item>Zmień nazwę</button>
  <button mat-menu-item>Usuń</button>
</mat-menu>
<div class="center">
  <button mat-flat-button color="accent">
    <mat-icon>navigate_before</mat-icon>
  </button>
  &nbsp;
  <button mat-flat-button color="accent">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

<button mat-fab class="fab" color="accent">
  <mat-icon>add</mat-icon>
</button>
