<h1 class="header">Twoje paczki zadań</h1>
<mat-form-field style="width: 96%; margin: 0px 20px;">
  <input matInput placeholder="Wyszukaj...">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<mat-list style="padding: 20px;">
  <mat-list-item *ngFor="let puzzle of puzzles; let index=index">
    <mat-icon matListIcon color="accent">{{index<2?"error":'check'}}</mat-icon>
    <h4 matLine>
      Nazwa: {{puzzle.name}}
    </h4>
    <h4 matLine>
      Ilość zadań: {{puzzle.puzzles.length}}
    </h4>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">
      Akcje
    </button>
    <mat-divider></mat-divider>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Przypisz do grup</button>
      <button mat-menu-item>Zmień nazwę</button>
      <button mat-menu-item (click)="deletePuzzlePackage(puzzle._id)">Usuń</button>
    </mat-menu>
  </mat-list-item>

</mat-list>

<div class="center">
  <button mat-flat-button color="accent">
    <mat-icon>navigate_before</mat-icon>
  </button>
  &nbsp;
  <button mat-flat-button color="accent">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

<button mat-fab class="fab" color="accent" routerLink="/new-puzzles">
  <mat-icon>add</mat-icon>
</button>
