<h1 class="header">Twoje debiuty</h1>
<mat-list style="padding: 20px;">
  <mat-list-item  *ngFor="let debut of debuts; let index=index" >
    <mat-icon matListIcon color="accent">{{index<2?"error":'check'}}</mat-icon>

    <h4 matLine>
      Nazwa: {{debut.name}}
    </h4>
    <h4 matLine>
      Ruchy: {{debut.firstMoves}}
    </h4>
    <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">
      Akcje
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>

</mat-list>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Przypisz do grup</button>
  <button mat-menu-item>Zmień nazwę</button>
  <button mat-menu-item>Usuń</button>
</mat-menu>
<div class="center">
  <button mat-icon-button>
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

<button mat-fab class="fab" color="accent" routerLink="/new-debut">
  <mat-icon>add</mat-icon>
</button>
