<h1 class="header">{{activeGroup ? 'Debiuty grupy' : 'Debiuty trenera'}}</h1>

<!--<mat-form-field style="width: 96%; margin: 0px 20px;">
  <input matInput placeholder="Wyszukaj...">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>-->

<app-szachapp-list [items]="debuts" [menuItems]="menuItems" mainInfoLabel="Nazwa" secondaryInfoLabel="Kolor"></app-szachapp-list>

<button mat-fab class="fab" color="accent" routerLink="/new-debut" *ngIf="!activeGroup">
  <mat-icon>add</mat-icon>
</button>
