<h1 class="header">{{puzzlePackage.name}} {{puzzleNumber+1}} z {{puzzlePackage.puzzles.length}}</h1>
<div class="flex-row" style="padding: 20px;">
  <div>
    <div id="answer-board" style="width:400px"></div>
  </div>

  <div class="moves-section">
    <mat-card style="width: 600px;">
      <span *ngFor="let move of moves; let index = index;">
        <span *ngIf="index%2 === 0">{{index/2+1+' '}}</span>
        <span>{{move+' '}}</span>
      </span>
    </mat-card>

    <span *ngIf="puzzleEnded === true">
      <ng-container *ngIf="goodAnswer === true; else badAnswer">
        <button mat-flat-button color="accent" (click)="nextPuzzle()">
          <span>{{allSolved ? 'Ukończono paczkę' : 'Kolejne zadanie'}}</span>
        </button>
        <span style="color: green; font-size: large;">
          DOBRZE
        </span>
      </ng-container>
      <ng-template #badAnswer>
        <button mat-flat-button color="warn" (click)="nextPuzzle()">
          <span>{{allSolved ? 'Ukończono paczkę' : 'Kolejne zadanie'}}</span>
        </button>
        <span style="color: red; font-size: large;">
          ŹLE
        </span>
      </ng-template>
    </span>
  </div>

</div>
