/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.center{
  display: flex;
  justify-content: center;
}
.header{
  padding-top: 15px;
  text-align: center;
  font-size: 30px;
}
.example-spacer{
  flex: 1 1 auto;
}
